<!DOCTYPE html>
<html lang="en" >
<!--[if IE]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<![endif]-->
<head>


  <meta charset="UTF-8" />
  <script src="js/frameworks/angular.min.js"></script>
  <script src="js/frameworks/angular-animate.min.js"></script>
  <script src="js/frameworks/ui-bootstrap-tpls-1.1.2.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/frameworks/angular-scroll.js"></script>

  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>


  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
  <link href='https://fonts.googleapis.com/css?family=Noto+Serif|Fira+Sans|Montserrat' rel='stylesheet' type='text/css'>
  <link href="style/bootstrap.css" rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" href="style/style.css" type="text/css" />



  <title>Vacatron</title>

</head>


<body ng-controller="FeedCtrl" ng-app="webApp">

  <div class="navbar navbar-default" ng-controller="navCtrl">

    <div class="container-fluid">
      <a class="navbar-brand" href="index.html"><img src="img/new_logo1.png" width="30%"></a>
      <div class="row nav-row">
        <ul class="nav navbar-nav">
          <li>
            <a class="navbar-link" alink="white" href="index.html" du-smooth-scroll>Home</a>
          </li>
          <li>
            <a class="navbar-link" alink="white" href="feed.html">Top Destinations</a>
          </li>
          <li>
            <a  class="navbar-link"alink="white" href="index.html#diaries" du-smooth-scroll>Diaries</a>
          </li>
          <li>
            <a  class="navbar-link"alink="white" href="index.html#my-story" du-smooth-scroll>Your Story</a>
          </li>
          <li>
            <a class="navbar-link" alink="white" href="#">Contact Us</a>
          </li>
          <li>
            <a class="" alink="white" href="login.html" ng-show="!loggedIn" >Sign in</a>
            <a class="" alink="white" href="index.html" ng-show="loggedIn" ng-click="logout()">Sign out</a>
          </li>
          <li>
              <a class="navbar-link navbar-right" alink="white" href="login.html" ><div class="current-user">{{welcome}}</div></a>
            </li>
        </ul>
        <div class="navbar-text">
        </div>
      </div>
      <div class="row filter">
        <input class="form-control" type="search" ng-model="query.text" placeholder="Filter"/>

      </div>
    </div>

  </div>


  <a href="submit.html" class="postButton"><button class="btn btn-default" >Submit A Holiday</button></a>
  <div class="container feed">

    <div class="col-md-4" ng-repeat="hol in holidays | filter:query.text">
      <div class="thumbnail">
        <div class="frame">

        <img src="{{hol.image}}" class="card-img" />
      </div>

        <div class="card-block" >
          <h3 class="card-title">
            {{hol.destination}},{{hol.country}}
            <span ng-click="heart($index)" ng-style="getHeartStyle($index)" class="heart">{{hol.rating}} ♥</span>
          </h3>
          <p class="card-text">
            Weather: <object class="small-icon"data="img/weather{{hol.weather}}.svg" type="image/svg+xml"></object> <br/>
            Price: <object ng-repeat="i in getNumber(hol.price) track by $index" class="small-icon"data="img/dollardollarbillsyall.svg" type="image/svg+xml"></object><br/>
            {{hol.description}}
          </p>
        </div>
        <button type="button"class="btn btn-primary btn-block btn-sm"  ng-click="hol.showing = !hol.showing">{{getArrow(hol.showing)}}</button>
        <div uib-collapse="!hol.showing" class="details">
          <div class="comment" ng-repeat="comment in hol.comments">
            <h4>{{comment.name}}</h4>
            <p>
              {{comment.contents}}
            </p>
          </div>
          <div class="form-inline" ng-hide="hol.Commented">
            <div ng-show="loggedIn">

            <h4>Write a comment</h4><br/>
            <textarea type="text" class="form-control"name="comment" roes="3" ng-model="comment.contents" placeholder="your thoughts..." ></textarea><br/>
            <button type="submit" class="btn btn-default" ng-click="submitComment(comment, $index)">Submit</button>
          </div>
          <div ng-hide="loggedIn">
            <h4>Please log in to post a comment</h4>
          </div>
          </div>
        </div>
    </div>
  </div>

  </div>

</body>
</html>
