<!DOCTYPE html>
<html lang="en" >

<!--[if IE]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<![endif]-->
<head>
  <meta charset="UTF-8" />
  <script src="js/frameworks/angular.min.js"></script>
  <script src="js/frameworks/angular-animate.min.js"></script>
  <script src="js/frameworks/ui-bootstrap-tpls-1.1.2.min.js"></script>
  <script src="js/app.js"></script>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
  <link href="style/bootstrap.css" rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" href="style/style.css" type="text/css" />

  <title>Holiday Recommender</title>

</head>


<body ng-controller="FeedCtrl" ng-app="webApp">
   
  <img  class="background"/>
  <div class="nav-bar">
      <div class="nav-bar-head">
          HOLIDAY RECOMMENDER
      </div>
      <div class="nav-bar-tabs">
        
        
        <div class="tabs">Contact Us</div>
        <div class="tabs">Your Story</div> 
        <div class="tabs">Experiences</div> 
        <div class="tabs">About</div>
        
       
        
      </div>
                
    </div>
  <div class="title-carousel">
      
  <uib-carousel interval="2000" no-wrap="false" >
      
    <uib-slide ng-repeat="hol in holidays" active="hol.active">
        
            <img ng-src="{{hol.Images[0]}}" style="margin:auto;">
                BALI
            <div class="carousel-caption">
              <h4>{{hol.Location}}</h4>
              <p>{{hol.Weather}}</p>
                JJHJH
            </div>
          </uib-slide>
  </uib-carousel>
      
</div>
    
  


  <div class="feed">
  <div class="card" ng-repeat="hol in holidays">
    <img class="card-img-top" src="{{hol.Images[0]}}" />
    <div class="card-block">
      <h3 class="card-title">{{hol.Location}}</h3>
      <p class="card-text">
         Weather: {{hol.Weather}} <br/>
         Price: {{hol.Price}} <br/>
         {{hol.Description}}
       </p>
    </div>
  </div>
  </div>

</body>
</html>
