<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<!--[if IE]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <script src="js/frameworks/angular.min.js"></script>
  <script src="js/frameworks/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

  <script src="js/frameworks/ui-bootstrap-tpls-1.1.2.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/frameworks/angular-scroll.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <script src="js/frameworks/countrySelect.min.js"></script>
  <script src="js/trending.js"></script>

  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
  <link href='https://fonts.googleapis.com/css?family=Noto+Serif|Fira+Sans|Montserrat' rel='stylesheet' type='text/css'/>
  <link href="style/bootstrap.css" rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" href="style/countrySelect.min.css" type="text/css" />
  <link rel="stylesheet" href="style/style.css" type="text/css" />
  <link href="style/animations.css" rel='stylesheet' type='text/css'/>



  <title>Vacatron</title>

</head>


<body ng-app="webApp" ng-controller="indexCtrl" class="small-header">

  <div class="navbar navbar-default" ng-controller="navCtrl">

    <div class="container-fluid">
      <a class="navbar-brand" href="index.html"><img src="img/new_logo1.png" width="30%"/></a>
      <div class="row nav-row">
        <ul class="nav navbar-nav">
          <li>
            <a class="navbar-link" alink="white" href="index.html" du-smooth-scroll>Home</a>
          </li>
          <li>
            <a class="navbar-link" alink="white" href="feed.html">Top Destinations</a>
          </li>
          <li>
            <a  class="navbar-link"alink="white" href="index.html#diaries" du-smooth-scroll>Diaries</a>
          </li>
          <li>
            <a  class="navbar-link"alink="white" href="index.html#my-story" du-smooth-scroll>Your Story</a>
          </li>
          <li>
            <a class="navbar-link" alink="white" href="#">Contact Us</a>
          </li>
          <li>
            <a class="" alink="white" href="login.html" ng-show="!loggedIn" >Sign in</a>
            <a class="" alink="white" href="index.html" ng-show="loggedIn" ng-click="logout()">Sign out</a>
          </li>
          <li>
              <a class="navbar-link navbar-right" alink="white" href="login.html" ><div class="current-user">{{welcome}}</div></a>
            </li>
        </ul>
        <div class="navbar-text">
        </div>
      </div>
    </div>

  </div>

  <div id="myCarousel" class="carousel slide hidden-xs" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides !-->
    <div class="carousel-inner" role="listbox">
      <div class="item active" id="item1">

        ENJOY SUNSET <br/>IN BALI
      </div>

      <div class="item" id="item2">
        EXPLORE<br/> THE ALPS
      </div>

      <div class="item" id="item3">
        FEEL <br/>THE FRESHNESS<br/> OF GERMANY
      </div>

      <div class="item" id="item4">
        CAMP UNDER<br/> NORTHERN LIGHTS
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div id="diaries" class="hidden-xs">
    <div id="diary1" class="diary" ng-style="{'background-image':'url('+display[0].image+')'}" ng-show="show[0]">
      <div id="diary1-text">
        {{display[0].description}}
        <br/><p>- {{display[0].name}}, {{display[0].destination}}</p>
      </div>
    </div>
    <div id="diary2" class="diary" ng-style="{'background-image':'url('+display[1].image+')'}" ng-show="show[1]">
      <div id="diary2-text">
        {{display[1].description}}
        <br/><p>- {{display[1].name}}, {{display[1].destination}}</p>
      </div>
    </div>
    <div class="diary" ng-style="{'background-image':'url('+display[2].image+')'}" ng-show="show[2]">
      <div id="diary3-text">
        {{display[2].description}}
        <br/><p>- {{display[2].name}}, {{display[2].destination}}</p>
      </div>
    </div>
    <div class="diary" ng-style="{'background-image':'url('+display[3].image+')'}" ng-show="show[3]">
      <div id="diary4-text">
        {{display[3].description}}
        <br/><p>- {{display[3].name}}, {{display[3].destination}}</p>
      </div>
    </div>
  </div>

  <div id="my-story" class="my-story hidden-xs" ng-controller="FormCtrl">
    <div id="my-story-title" class="my-story-title">
      SHARE <br/> YOUR STORY
    </div>
    <div id="story-form" class="story-form">
      <div class="form-horizontal">
        <form name="storyForm" ng-show="{{!storyForm.$submitted}}" >
          <input class="form-control" type="text" name="fname" ng-model="story.Name" placeholder="Your Name" required/><br />
          <input class="form-control" type="email" name="lname" ng-model="story.Email" placeholder="Email" required/><br />
          <input class="form-control" type="text" name="lname" ng-model="story.Destination" placeholder="Holiday City" required/><br />
          <input class="form-control" type="text" id="country" ng-model="story.Country" placeholder="Holiday Country" required/><br /><br />
          <select class="form-control" ng-model="story.Price">
            <option value="">Please select a price</option>
            <option value="1">Bargain</option>
            <option value="2">Cheap</option>
            <option value="3">Reasonable</option>
            <option value="4">Expensive</option>
            <option value="5">Extortionate</option>
          </select><br />
          <select class="form-control" ng-model="story.Weather">
            <option value="">What was the weather like?</option>
            <option value="1">Very Cold</option>
            <option value="2">Cold</option>
            <option value="3">Temperate</option>
            <option value="4">Hot</option>
            <option value="5">Very Hot</option>
          </select><br />
          <textarea class="form-control" rows="5" cols="20" placeholder="Your Experience" ng-model="story.Description"></textarea><br />
          <button class="btn btn-default"  ng-model="story" ng-click="submit(story)"> {{buttonText}} </button>
        </form>
      </div>
    </div>


  </div>
  <div class="container-fluid visible-xs" id="mobile-form" ng-controller="FormCtrl">
    <div class="form-horizontal">
      <h3>Submit a holiday</h3>
      <form name="storyForm" ng-show="{{!storyForm.$submitted}}" >
        <input class="form-control" type="text" name="fname" ng-model="story.Name" placeholder="Your Name" required/><br />
        <input class="form-control" type="email" name="lname" ng-model="story.Email" placeholder="Email" required/><br />
        <input class="form-control" type="text" name="lname" ng-model="story.Destination" placeholder="Holiday City" required/><br />
        <input class="form-control" type="text" id="country" ng-model="story.Country" placeholder="Holiday Country" required/><br /><br />
        <select class="form-control" ng-model="story.Price">
          <option value="">Please select a price</option>
          <option value="1">Bargain</option>
          <option value="2">Cheap</option>
          <option value="3">Reasonable</option>
          <option value="4">Expensive</option>
          <option value="5">Extortionate</option>
        </select><br />
        <select class="form-control" ng-model="story.Weather">
          <option value="">What was the weather like?</option>
          <option value="1">Very Cold</option>
          <option value="2">Cold</option>
          <option value="3">Temperate</option>
          <option value="4">Hot</option>
          <option value="5">Very Hot</option>
        </select><br />
        <textarea class="form-control" rows="5" cols="20" placeholder="Your Experience" ng-model="story.Description"></textarea><br />
        <button class="btn btn-primary"  ng-model="story" ng-click="submit(story)"> {{buttonText}} </button>
      </form>
    </div>
  </div>

  <div class="container-fluid" ng-controller="mapCtrl" id="mapHolder">
    <div id="map">

    </div>
  </div>


<div class="container-fluid"id="contact" >
  <div class="row" >
    <div class="text-center">
      <strong>Contact Us</strong><br/><br/>

    </div>
  </div>
  <div class="row" >
    <div class="col-md-4">
      <address>
        Gavin Parker <br/>
        Email:<a href="mailto:gp14958@my.bristol.ac.uk"> gp14958@my.bristol.ac.uk</a><br/>
               <a href="mailto:gavin-parker@live.com"> gavin-parker@live.com</a>
      </address>
    </div>
    <div class="col-md-4">
      <address>
        Mudit Gupta<br/>
        Email:<a href="mailto:mg14777@my.bristol.ac.uk"> mg14777@my.bristol.ac.uk</a><br/>
      </address>
    </div>

  </div>
</div>
</body>
</html>
