html, body{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 0;
  margin:0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0,0, 0, 0.2),rgba(0, 0,0, 0.5)),url(../img/login-wall.jpg);
  //background: rgba(0,0,0,0.1);
  background-size: 100%;
  color: firebrick;
}
.website-title {
  padding-top: 65px;
  font-size: 6.5em;
  font-family: 'Montserrat', sans-serif;
  height: 40%;
  color: white;
}
.website-subtitle {

  font-size: 0.3em;
  font-family: 'Caveat', sans-serif;
  float: left;
  width: 100%;
  text-align: center;
  color: white;

}
.user-login {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    //width: 100%;
    //height: 80%;
    text-align: left;
    //padding-right: 10%;
    //float: right;
    padding-left: 30%;
}
.login-button, .create-account-button {
    width: 20%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 2px solid white;
    color: white;
    margin-left: 11%;

}
.login-button {
    float: left;
    position: absolute;
    width: 20%;
    top: 65%;
}
.newuser {
    position: absolute;
    width: 50%;
    top: 80%;
    color: white;
    padding-left: 17%;
}
.create-account-button {
    float: right;
    position: absolute;
    width: 20%;
    top: 85%;
}

.login-form {
    position: absolute;
    width: 50%;
    top: 55%;
}
.login-button:hover, .create-account-button:hover {
    background: orangered;
    color: white;
    border: 2px solid orangered;
    transition: all 0.3s ease;
}
.credentials {
    border: 0px solid orangered;
    background-color:rgba(255, 255, 255,0.8);
    color:black;
    height: 50px;

}
.email {
    width: 50%;
    float: left;
}
.password {
    width: 50%;
    float: right;
}
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}
