.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
html, body{
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin:0;
  height: 100%;
  width: 100%;
}
body{
    /*background-image: url('https://i.imgur.com/d59jgJM.jpg');*/
    background-size: cover;
    background-color: #ECEFF1;
    padding-top: 0px;;
}
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}
h1{
  margin:auto;
  margin-top:0;
}

a {
    color: white;
    transition: all .5s;
}
a:hover {
    color: orangered;
    text-decoration: none;
}
.current-user {
    height: 10%;
    color: orangered;
    float: right;
    width: 100%;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
  color:orangered;
  text-decoration: none;
  border-bottom: 4px solid orangered;
}
col-md-4{
  padding: 5px;
}
#contact{
  background-color: #757575;
  color: white;
}

.arrow{
  color: rgb(44, 95, 195);
  cursor:pointer;
  float:right;
}
.small-icon{
  height:40px;
  margin-bottom: -10px;
}
.details{
  margin:0;
  padding: 0;
}
.review{
  background-color: #FAFAFA;
  margin:0;
  padding:0;
  border-style: solid;
  border-width: 1px;
  border-color: #F5F5F5;
  padding-right: 2px;
  padding-left: 2px;
}

.title-image{
  width: 100%;
  height: 100%;
  background-color: rgb(58, 155, 172);
  text-align:center;
  /*background-image: url('https://i.imgur.com/d59jgJM.jpg');*/
  vertical-align: middle;
  overflow: hidden;
  padding: 0;
}

#myCarousel {
    width: 100%;
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
    font-size: 50pt;
    color: white;
    font-weight: bold;
    text-align: center;

}

.carousel-inner, .item {
     width: 100%;
    height: 100%;
}
.item {
    padding-top: 14%;
    background-size: 100%;
}
#item1 {
    background: url(../img/bali.png);
    background-size:cover;
}
#item2 {
    background: url(../img/alps.jpg);
    background-size: cover;

}
#item3 {
    background: url(../img/meadows.png);
    background-size: cover;
}
#item4 {
    background: url(../img/aurora.jpg);
    background-size: cover;
}
#diaries {
     width: 100%;
    height: 100%;

}
.diary{
    width: 50%;
    height: 50%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
    font-family: 'Montserrat';
    font-size: 20pt;
    color: white;
    float: left;
}
.diary {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-size: cover;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
.diary1:hover {
    background-size: 100%;
}
#diary1-text {
    display: none;
}
#diary2-text {
    display: none;
}
#diary3-text {
    display: none;
}
#diary4-text {
    display: none;
}
#map{
  height:650px;
}
#mapHolder{
  padding-left: 0px;
  padding-right: 0px;
}

.logoImg{
  height:100%;
  margin-top: 0pc;
  margin-bottom: 0px;
  margin: -2%;

}
.diary2 {
     background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    text-align: right;
}
.diary3 {
     background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), no-repeat;

}
.diary4 {
     background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    text-align: right;
}
.my-story {
    width: 100%;
    height: 100%;
    background: url(../img/diary.png);
    background-size: 100%;
    font-family: 'Montserrat';
    font-size: 50pt;
    color: white;
}
.my-story-title {
  padding-left: 4%;
  padding-top: 4%;
  float: left;
  width: 50%;
  height: 100%;
  font-weight: bold;
}
.story-form {
    font-size: 17pt;
    padding: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 5%;
    margin-right: 5%;
    text-align: center;
    float: right;
    width: 33%;
    height: 66%;
    color: black;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 2;
    line-height: 100%;
}
#mobile-form{
  font-size: 17pt;
  margin: 2px;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 2;
  line-height: 100%;
}
.trending-locations {
    width: 100%;
    height: 100%;
    background: white;
}
.trending-title {
    width: 100%;
    height: 0%;
    font-family: 'Montserrat';
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
}
.trending {
    width: 100%;
    height: 100%;
    /*background-size: 100%;*/
    background: linear-gradient(rgba(255, 255, 0, 0.5),rgba(255, 255,0, 0.5)), url(../img/destinations1.png);
}
@-webkit-keyframes vibrate {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
@-webkit-keyframes vibrate1 {
    0% {
         -webkit-transform: translate(2px, 2px) rotate(0deg);
    }
    25% {
         -webkit-transform: translate(2px, -2px) rotate(0deg);
    }
    50% {
         -webkit-transform: translate(-2px, -2px) rotate(0deg);
    }
    75% {
         -webkit-transform: translate(-2px, 2px) rotate(0deg);
    }
    100% {
         -webkit-transform: translate(2px, 2px) rotate(0deg);
    }
}
.loc1, .loc2, .loc3, .loc4, .loc5 {
    position: relative;
    width: 25px;
    height: 25px;
    margin: 0px;
}
.loc1 {
    left: 260px;
    top: 160px;
}
.loc2 {
    left: 560px;
    top: 110px;
}
.loc3 {
    left: 855px;
    top: 230px;
}
.loc4 {
    left: 768px;
    top: 165px;
}
.loc5 {
    left: 240px;
    top: 290px;
    //-webkit-animation: vibrate1 0.1s linear 0s 30;
}
.loc_img {
    width: 25px;
    height: 25px;
    /*animation:vibrate1 0.1s linear 0s 30;*/
    -webkit-animation: vibrate1 0.6s linear 0s 30;
    -webkit-animation-iteration-count: infinite;
    /*
    -webkit-animation-name: vibrate;
	-webkit-animation-duration: 0.1s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
    */
}
/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.loc1:hover .tooltiptext {
    visibility: visible;
}
.loc2:hover .tooltiptext {
    visibility: visible;
}
.loc3:hover .tooltiptext {
    visibility: visible;
}
.loc4:hover .tooltiptext {
    visibility: visible;
}
.loc5:hover .tooltiptext {
    visibility: visible;
}
#country{
  width:100%;
  margin: auto;
}
.submit {
    border-left: 50px;
    border-right: 50px;
    border-style: solid;
    border-color: white;
    transition: all .4s;
}
.submit:hover {
    background: forestgreen;
    border-color: forestgreen;
    color: white;
}
.postButton {
  position: fixed;
  float:right;
  margin:auto;
  left:90%;
  bottom: 5%;
  z-index: 1;
}

.slide span{
  top: 100px;
  left:100px;
  position: absolute;
  color: white;
  float:left;
}
.navbar {
    width: 100%;
    z-index: 1;
    margin: 0px;
      background-color: rgb(255,255,255);
    /* Adds shadow to the bottom of the bar */
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;
    font-family: 'Open Sans' , sans-serif;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    -webkit-backface-visibility: hidden;

}
.navbar-brand {
  padding-left: 2%;
  font-size: 120%;
    float: left;
    color: darkorange;
  width: 20%;
}
.logo {
   width: 20%;
   float: left;
   height: 100%;
}
.row {
    float: right;
    width: 70%;
}
.navbar-link {
    color: white;
    font-weight: bold;
    height: 2.6em;
}
.tabs {
    float: right;
    padding: 1% 2%;
    height: 100%;
}
.title-image p{
  vertical-align: middle;
  text-align: left;
  font-size: 20px;
  float: left;
  margin-left: 20%;
  margin-top: 15%;
  color: white;
}
.page-header{
  text-align: center;
  background-color:#FFC107;
  margin-top:0;
  padding-top:0;
}
.navButton{
  float:right;
  position:absolute;
  width: 5%;
}
.logo{
  width:12%;
  height:100%;
  background-color: #FFC107;
  z-index: 2;
}
.feed{
  width:70%;
  height:100%;
  margin:auto;
  padding-top: 3%;
  margin-top: 0;
}
.sidebar{
  width: 10%;
  height: 30%;
  margin: none;
  z-index: 2;
  margin-left: 1%;
  margin-top: 5%;
  position: fixed;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding:5px;
}
.card{
  margin:auto;
  margin-bottom: 1%;
  background-color: white;
  padding:0;
  padding: 0;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.frame{
  height:200px;
  width:350px;
  overflow: hidden;
  text-align: center;
  margin: auto;
}
.card-img{
  margin:0px;
  height:200px;
  width: 350px;
  object-fit: cover;
  overflow: hidden;
}

.details p{
  margin-left: 42px;
}
.avatar{
  width:32px;
  height:32px;
  border-radius: 50%;
  display: inline-block;
  float: left;
  margin-right: 1%;
  margin-left: 2px;
}
.details h4{
  display: inline-block;
  margin-left: 2px;
}
.card-text{
  margin: 0;
  margin-left: 1%;
  margin-right: 1%;
}
.details{
  padding:0;
}
.weather{
color: #FBC02D;
font-size:30px;
}
.price{
color: #388E3C;
font-size:30px;
}
.card-title{
  margin: 1%;
}
textarea{
  min-width:100%;
}
.expand{
background-color: #E0F7FA;
color: #80DEEA;
text-align: center;
width:100%;
cursor: pointer;
}
.heart{
  color:#E0E0E0;
  font-size: 150%;
  float:right;
}
.heart:hover{
  color: #F48FB1;
  cursor: pointer;
}
