html, body{
  font-family: 'Open Sans', sans-serif;
  background-color: #ECEFF1;
  padding: 0;
  margin:0;
}
header{
  position:absolute;
  width: 100%;
  background-color: #FFF176;
  padding: 0;
  margin: auto;
  display: inline;
}
.navButton{
  float:right;
  position:absolute;
  width: 5%;
}
.logo{
  width:12%;
  height:100%;
  background-color: #FFC107;
  z-index: 2;
}
